.scrollable-table {
    width: 100%; /* Adjust the width as needed */
    max-height: 400px; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    resize: both; /* Make the container resizable */
}

tr{
    border: 1px solid black;
}

table{
    margin: 2% 0 2% 0;
}

body {
    margin: 0;
    margin-top: 80px;
    padding: 0;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column   ;
    /* height: 100vh; */
    background-image: url('https://www.monash.edu/__data/assets/image/0011/3374543/WebCampaignBanner_2400x900.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
