{% extends 'base.html' %}
{% block header %}
{% include 'adminHeader.html' %}
{% endblock %}


{% block main %}



<form action="{{ url_for('admin_filter')}}" method="post" class="mb-4">
    <!-- set witdth to 200px -->
    <div class="form-group st " style="width: 400px;">
        <label for="lecturer_id">Filter by Lecturer ID:</label>
        <input type="text" id="lecturer_id" name="lecturer_id" class="form-control" placeholder="Enter Lecturer ID" required>
        <button type="submit" class="btn btn-primary">Apply Filter</button>
    </div>
</form>
<form action="{{ url_for('admin_filter') }}" method="post" class="mb-4">   
    <div class="form-group" style="width: 400px;">
        <label for="student_id">Filter by Student ID:</label>
        <input type="text" id="student_id" name="student_id" class="form-control" placeholder="Enter Student ID" required>
    </div>
    <button type="submit" class="btn btn-primary">Apply Filter</button>
</form>



<div class="container mt-4">
  <h3 style="font-size: 15px;">Courses for {{user_['user_type']}}:  {{user_['user_id']}}</h3>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for course in courses %}
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{ course.course_code }}</h5>
          <p class="card-text">{{ course.course_name }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}


{% block css %}
<style>
  label, h3 {
    color: beige;
}
.btn{
  margin-top: 10px;
}
</style>
{% endblock %}

