<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto flex-grow-1"> <!-- Add flex-grow-1 class to push the following items to the right -->
          <li class="nav-item"><a class="nav-link active" href="{{ url_for('home') }}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('teach')}}">Teach</a></li>
          <li class="nav-item"><a class="nav-link" href="{{url_for('view_course_by_lecturer', user_id=session['user_id'])}}">My Courses</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('retrieve_members')}}">Members</a></li>
        </ul>

        <ul class="navbar-nav">
          <li class="nav-item"> <!-- No need for ml-auto class here -->
            <a class="nav-link" href="#">{{session['account_type'].capitalize()}}: {{session['user_firstname']}} </a>
            
          </li>
          <li class="nav-item"> <!-- No need for ml-auto class here -->
            <a class="nav-link" href="{{ url_for('logout')}}">logout</a>
          </li>
        </ul>
      </div>
      
    </div>
  </nav>