<!-- course view for students -->

{% extends "base.html" %}
{% block header %}
{% include "studentHeader.html" %}
{% endblock %}

{% block main %}
<div class="container mt-4">
    <!-- Filter bar -->
    <input type="text" id="courseSearch" placeholder="Search by Course Code" onkeyup="filterCourses()">
    
    <div class="row row-cols-1 row-cols-md-4 g-4" id="courseContainer">
        {% for course in courses %}
        <div class="col course-card" data-course-code="{{ course.course_code }}">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ course.course_code }}</h5>
                    <p class="card-text">{{ course.course_name }}</p>
                    <div class="d-flex justify-content-between">
                        <a href="{{url_for('view_selected_course', course_code=course.course_code)}}" class="btn btn-primary">View</a>
                        <button class="btn btn-danger" onclick="confirmDrop('{{ course.course_code }}', '{{ session["user_id"] }}')">Drop</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block css %}
<style>
    .btn {
        width: 100px;
    }
</style>
{% endblock %}

{% block js %}
<script>
    function confirmDrop(courseCode, user_id) {
        if (confirm('Are you sure you want to drop the course ' + courseCode + '?')) {
            // If the user confirms, redirect to the "drop_course" route
            window.location.href = '/drop_course/' + courseCode;
        } else {
            // If the user cancels, redirect to the "view_course_by_student" route
            window.location.href = '/courses/student/' + user_id;
        }
    }

    function filterCourses() {
        var input, filter, cards, card, courseCode, i;
        input = document.getElementById("courseSearch");
        filter = input.value.toUpperCase();
        cards = document.getElementsByClassName("course-card");
        
        for (i = 0; i < cards.length; i++) {
            card = cards[i];
            courseCode = card.getAttribute("data-course-code").toUpperCase();
            if (courseCode.indexOf(filter) > -1) {
                card.style.display = "";
            } else {
                card.style.display = "none";
            }
        }
    }
</script>
{% endblock %}
