{% extends "base.html" %}
{% block header %}
{% if session['account_type'] == 'admin' %}
{% include 'adminHeader.html' %}
{% endif %}
{%if session['account_type'] == 'lecturer' %}
{% include 'lecturerHeader.html' %}
{% endif %}
{%if session['account_type'] == 'student' %}
{% include 'studentHeader.html' %}
{% endif %}
{% endblock %}






{% block main %}
{% include "flash_messages.html" %}

<form action="{{ url_for('retrieve_members')}}" method="post" class="mb-4">
    <!-- set witdth to 200px -->
    {{ form.csrf_token }}
    <div class="form-group st " style="width: 400px;">
        
        
        {{ form.course_code(class='form-control', placeholder="Enter Course Code") }}
        
        <button type="submit" class="btn btn-primary">Apply Filter</button>
        <a href="{{ url_for('retrieve_members') }} " class="btn btn-secondary">Remove Filter</a>
        
      
    </div>
</form>
{% if course_code %}
<div class="container mt-4">
  <div class="section">
    <h3 >Courses for Lecturer in {{course_code}}</h3>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for lecturer in lecturers %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{lecturer.student_id  }}</h5>
            <p class="card-text">{{ lecturer.fname }} {{lecturer.lname}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="section"> 
    <h3 >Courses for Students in {{course_code}}</h3>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for student in students %}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{student.student_id  }}</h5>
            <p class="card-text">{{ student.fname }} {{student.lname}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

   
  </div>
{% endif %}
{% endblock %}

{% block css%}

<style>
  
  .container{
    width: 90vw;
    padding-left: 0px;
 
  }

  .card-body{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  h3{
    color: beige;
    font-size: 15px;
    margin-bottom: 20px;
  }

  .section{
    
    margin-bottom: 50px;
    margin-top: 0px;
    border: 1px solid rgba(172, 170, 186, 0.3);
    padding: 20px;
    border-radius: 8px;
    
  }
  button, a{
    margin-right: 15px;
    margin-top: 15px;
  }
  .form-control{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
</style>

{% endblock %}
