{% extends "base.html" %}

{% block header %}
  {% if session['account_type'] == 'admin' %}
    {% include 'adminHeader.html' %}
  {% endif %}

  {% if session['account_type'] == 'lecturer' %}
    {% include 'lecturerHeader.html' %}
  {% endif %}

  {% if session['account_type'] == 'student' %}
    {% include 'studentHeader.html' %}
  {% endif %}
{% endblock %}

{% block main %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h2 class="card-subtitle mb-2 text-muted">{{ courseCode }}</h2>
            </div>
            {{ message }}
            {{ flash }}
            <h3>Sections</h3>
            {% if not sections %}
              <p>There is no content for this Course</p>
            {% else %}
            {% for section in sections %}
              <div class="accordion" id="sectionsAccordion">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="section{{ loop.index }}Heading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#section{{ loop.index }}Collapse" aria-expanded="true" aria-controls="section{{ loop.index }}Collapse">
                      Section {{ loop.index }}: {{ section.title }}
                    </button>
                  </h2>
                  {% if loop.index == 1 %}
                    <div id="section{{ loop.index }}Collapse" class="accordion-collapse collapse show" aria-labelledby="section{{ loop.index }}Heading" data-bs-parent="#sectionsAccordion">
                  {% else %}
                    <div id="section{{ loop.index }}Collapse" class="accordion-collapse collapse" aria-labelledby="section{{ loop.index }}Heading" data-bs-parent="#sectionsAccordion">
                  {% endif %}
                      <div class="accordion-body">
                        <p>{{section.description}}</p>
                        {% if content_dict[section.section_id] %}
                          <p class="section_content_header ">Section Content</p>
                        {% else %}
                          <p class="section_content_header ">There is no content for this section</p>
                        {% endif %}
                        {% for content in content_dict[section.section_id] %}
                          <hr>
                          <p class="content-title">{{content.title}}</p>
                          {% if content.files_names != None %}
                            {% set file_name = content.files_names | replace('{"text": "', '') | replace('"}', '') %}
                            <p class="content-file">{{file_name}}</p>
                          {% endif %}
                          {% if content.material != None %}
                            <p class="content-material">{{content.material}}</p>
                          {% endif %}
                          
                        {% endfor %}
                      </div>
                    </div>
                </div>
                <br>
              </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h3>Calendar Events</h3>
            <button class="btn btn-primary" id="toggleEvents">Toggle Events</button>
            <div id="calendarEvents" style="display: none;">
              <br>
              <ul class="list-group">
                <li class="list-group-item">
                  <h5 class="card-title">Event 1: Lecture 1</h5>
                  <p class="card-text">This event is the first lecture of the course.</p>
                </li>
                <li class="list-group-item">
                  <h5 class="card-title">Event 2: Midterm Exam</h5>
                  <p class="card-text">This event is the midterm exam scheduled for next month.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.getElementById('toggleEvents').addEventListener('click', function() {
      var eventsDiv = document.getElementById('calendarEvents');
      if (eventsDiv.style.display === 'none') {
        eventsDiv.style.display = 'block';
      } else {
        eventsDiv.style.display = 'none';
      }
    });
  </script>
{% endblock %}

{% block css %}
<style>
.container {
  width : 90vw;
}

.section_content_header{
  font-size: large;
  font-weight: 600;
}

.content-title{
  font-weight: 500;
}
</style>
{% endblock %}
